@import "tailwindcss";

:root {
  --background: #faf9f5;
  --foreground: #241f2b;
  --color-text-secondary: #444444;
  --color-accent: #595af0;
  --color-border: #e8dfec;
  --color-nav-muted: #625a6d;
  --color-nav-hover: #6757e8;
  --color-bg-inverse: #1c1726;
  --gradient-background: linear-gradient(
    145deg,
    #f0eaf8 6.17%,
    #f6eaf1 41.23%,
    #eaf1ea 76.3%,
    #f7f2fa 93.83%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-secondary: var(--color-text-secondary);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);
  --color-nav-muted: var(--color-nav-muted);
  --color-nav-hover: var(--color-nav-hover);
  --color-bg-inverse: var(--color-bg-inverse);
  --font-sans: var(--font-manrope);
}

html,
body {
  background: var(--gradient-background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 120s linear infinite;
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee-reverse {
  animation: marquee-reverse 205s linear infinite;
}
